# Label Encoder

In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [2]:
data=pd.read_csv("Downloads\\iris.csv",index_col=0)
data.head()

              Sepal.Width  Petal.Length  Petal.Width Species
Sepal.Length
5.1                   3.5           1.4          0.2  setosa
4.9                   3.0           1.4          0.2  setosa
4.7                   3.2           1.3          0.2  setosa
4.6                   3.1           1.5          0.2  setosa
5.0                   3.6           1.4          0.2  setosa

In [3]:
data['Species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [4]:
data['Species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

In [5]:
data1=data.copy()
data1

              Sepal.Width  Petal.Length  Petal.Width    Species
Sepal.Length
5.1                   3.5           1.4          0.2     setosa
4.9                   3.0           1.4          0.2     setosa
4.7                   3.2           1.3          0.2     setosa
4.6                   3.1           1.5          0.2     setosa
5.0                   3.6           1.4          0.2     setosa
...                   ...           ...          ...        ...
6.7                   3.0           5.2          2.3  virginica
6.3                   2.5           5.0          1.9  virginica
6.5                   3.0           5.2          2.0  virginica
6.2                   3.4           5.4          2.3  virginica
5.9                   3.0           5.1          1.8  virginica

[150 rows x 4 columns]

In [7]:
labelencoder=LabelEncoder()
data['Species_Labels']=labelencoder.fit_transform(data.iloc[:,-1])

In [8]:
data['Species_Labels'].value_counts()

0    50
1    50
2    50
Name: Species_Labels, dtype: int64

# One Hot Encoder

In [9]:
data=pd.read_csv("Downloads\\iris1.csv",index_col=0)
data_encoded=pd.get_dummies(data)
data_encoded

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica
1,5.1,3.5,1.4,0.2,1,0,0
2,4.9,3.0,1.4,0.2,1,0,0
3,4.7,3.2,1.3,0.2,1,0,0
4,4.6,3.1,1.5,0.2,1,0,0
5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1
147,6.3,2.5,5.0,1.9,0,0,1
148,6.5,3.0,5.2,2.0,0,0,1
149,6.2,3.4,5.4,2.3,0,0,1
150,5.9,3.0,5.1,1.8,0,0,1

# Isolation Forest

In [10]:
import pandas as pd
from sklearn.ensemble import IsolationForest

In [11]:
data=pd.read_csv("Downloads\\iris1.csv",index_col=0)
data_encoded=pd.get_dummies(data)
data_encoded

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica
1,5.1,3.5,1.4,0.2,1,0,0
2,4.9,3.0,1.4,0.2,1,0,0
3,4.7,3.2,1.3,0.2,1,0,0
4,4.6,3.1,1.5,0.2,1,0,0
5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1
147,6.3,2.5,5.0,1.9,0,0,1
148,6.5,3.0,5.2,2.0,0,0,1
149,6.2,3.4,5.4,2.3,0,0,1
150,5.9,3.0,5.1,1.8,0,0,1

In [12]:
clf=IsolationForest(random_state=10,contamination=0.01)
clf.fit(data_encoded)

C:\Users\NITESH\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

IsolationForest(contamination=0.01, random_state=10)

In [13]:
y_pred_outliers=clf.predict(data_encoded)
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [14]:
data_encoded['Outliers']=y_pred_outliers
data_encoded

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica,Outliers
1,5.1,3.5,1.4,0.2,1,0,0,1
2,4.9,3.0,1.4,0.2,1,0,0,1
3,4.7,3.2,1.3,0.2,1,0,0,1
4,4.6,3.1,1.5,0.2,1,0,0,1
5,5.0,3.6,1.4,0.2,1,0,0,1
...,...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1,1
147,6.3,2.5,5.0,1.9,0,0,1,1
148,6.5,3.0,5.2,2.0,0,0,1,1
149,6.2,3.4,5.4,2.3,0,0,1,1
150,5.9,3.0,5.1,1.8,0,0,1,1

In [15]:
data_encoded[data_encoded.Outliers==-1]

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica,Outliers
107,4.9,2.5,4.5,1.7,0,0,1,-1
119,7.7,2.6,6.9,2.3,0,0,1,-1

In [16]:
data_encoded.drop('Outliers',axis=1,inplace=True)
data_encoded

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica
1,5.1,3.5,1.4,0.2,1,0,0
2,4.9,3.0,1.4,0.2,1,0,0
3,4.7,3.2,1.3,0.2,1,0,0
4,4.6,3.1,1.5,0.2,1,0,0
5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1
147,6.3,2.5,5.0,1.9,0,0,1
148,6.5,3.0,5.2,2.0,0,0,1
149,6.2,3.4,5.4,2.3,0,0,1
150,5.9,3.0,5.1,1.8,0,0,1

In [17]:
data_encoded.loc[150]=[20,40,30,50,1,0,0]
data_encoded

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica
1,5.1,3.5,1.4,0.2,1,0,0
2,4.9,3.0,1.4,0.2,1,0,0
3,4.7,3.2,1.3,0.2,1,0,0
4,4.6,3.1,1.5,0.2,1,0,0
5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1
147,6.3,2.5,5.0,1.9,0,0,1
148,6.5,3.0,5.2,2.0,0,0,1
149,6.2,3.4,5.4,2.3,0,0,1
150,20.0,40.0,30.0,50.0,1,0,0

In [18]:
clf=IsolationForest(random_state=10,contamination=0.01)
clf.fit(data_encoded)

C:\Users\NITESH\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

IsolationForest(contamination=0.01, random_state=10)

In [19]:
y_pred_outliers=clf.predict(data_encoded)
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1])

In [20]:
data_encoded['Outliers']=y_pred_outliers
data_encoded

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica,Outliers
1,5.1,3.5,1.4,0.2,1,0,0,1
2,4.9,3.0,1.4,0.2,1,0,0,1
3,4.7,3.2,1.3,0.2,1,0,0,1
4,4.6,3.1,1.5,0.2,1,0,0,1
5,5.0,3.6,1.4,0.2,1,0,0,1
...,...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1,1
147,6.3,2.5,5.0,1.9,0,0,1,1
148,6.5,3.0,5.2,2.0,0,0,1,1
149,6.2,3.4,5.4,2.3,0,0,1,1
150,20.0,40.0,30.0,50.0,1,0,0,-1

In [21]:
data_encoded[data_encoded.Outliers==-1]

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica,Outliers
107,4.9,2.5,4.5,1.7,0,0,1,-1
150,20.0,40.0,30.0,50.0,1,0,0,-1

# PPS SCORE

In [1]:
pip install ppscore

Requirement already satisfied: ppscore in c:\users\nitesh\anaconda3\lib\site-packages (1.2.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\nitesh\anaconda3\lib\site-packages (from ppscore) (1.3.4)
Requirement already satisfied: scikit-learn<1.0.0,>=0.20.2 in c:\users\nitesh\anaconda3\lib\site-packages (from ppscore) (0.24.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\nitesh\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\nitesh\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\nitesh\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\nitesh\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\nitesh\anaconda3\lib\site-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (2.2.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\nitesh\anaconda3\lib\site-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.7.1)
Requirement already satisfied: joblib>=0.11 in c:\users\nitesh\anaconda3\lib\site-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import ppscore as pps
import pandas as pd

In [8]:
data=pd.read_csv("Downloads\\iris1.csv",index_col=0)
data_encoded=pd.get_dummies(data)
data_encoded

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica
1,5.1,3.5,1.4,0.2,1,0,0
2,4.9,3.0,1.4,0.2,1,0,0
3,4.7,3.2,1.3,0.2,1,0,0
4,4.6,3.1,1.5,0.2,1,0,0
5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1
147,6.3,2.5,5.0,1.9,0,0,1
148,6.5,3.0,5.2,2.0,0,0,1
149,6.2,3.4,5.4,2.3,0,0,1
150,5.9,3.0,5.1,1.8,0,0,1

In [9]:
pps.score(data_encoded,"Sepal.Length","Species_setosa")

{'x': 'Sepal.Length',
 'y': 'Species_setosa',
 'ppscore': 0.499037289168868,
 'case': 'regression',
 'is_valid_score': True,
 'metric': 'mean absolute error',
 'baseline_score': 0.3333333333333333,
 'model_score': 0.16698757027704397,
 'model': DecisionTreeRegressor()}

In [10]:
pps.matrix(data)

,x,y,ppscore,case,is_valid_score,metric,baseline_score,model_score,model
0,Sepal.Length,Sepal.Length,1.000000,predict_itself,True,None,0.000000,1.000000,None
1,Sepal.Length,Sepal.Width,0.000000,regression,True,mean absolute error,0.330667,0.364704,DecisionTreeRegressor()
2,Sepal.Length,Petal.Length,0.550423,regression,True,mean absolute error,1.488667,0.669271,DecisionTreeRegressor()
3,Sepal.Length,Petal.Width,0.431739,regression,True,mean absolute error,0.644667,0.366339,DecisionTreeRegressor()
4,Sepal.Length,Species,0.471649,classification,True,weighted F1,0.353333,0.658333,DecisionTreeClassifier()
5,Sepal.Width,Sepal.Length,0.006966,regression,True,mean absolute error,0.684667,0.679897,DecisionTreeRegressor()
6,Sepal.Width,Sepal.Width,1.000000,predict_itself,True,None,0.000000,1.000000,None
7,Sepal.Width,Petal.Length,0.172375,regression,True,mean absolute error,1.488667,1.232058,DecisionTreeRegressor()
8,Sepal.Width,Petal.Width,0.132858,regression,True,mean absolute error,0.644667,0.559017,DecisionTreeRegressor()
9,Sepal.Width,Species,0.156915,classification,True,weighted F1,0.353333,0.454805,DecisionTreeClassifier()
10,Petal.Length,Sepal.Length,0.525617,regression,True,mean absolute error,0.684667,0.324794,DecisionTreeRegressor()
11,Petal.Length,Sepal.Width,0.052136,regression,True,mean absolute error,0.330667,0.313427,DecisionTreeRegressor()
12,Petal.Length,Petal.Length,1.000000,predict_itself,True,None,0.000000,1.000000,None
13,Petal.Length,Petal.Width,0.744945,regression,True,mean absolute error,0.644667,0.164425,DecisionTreeRegressor()
14,Petal.Length,Species,0.884812,classification,True,weighted F1,0.353333,0.925512,DecisionTreeClassifier()
15,Petal.Width,Sepal.Length,0.383911,regression,True,mean absolute error,0.684667,0.421816,DecisionTreeRegressor()
16,Petal.Width,Sepal.Width,0.254616,regression,True,mean absolute error,0.330667,0.246474,DecisionTreeRegressor()
17,Petal.Width,Petal.Length,0.798274,regression,True,mean absolute error,1.488667,0.300302,DecisionTreeRegressor()
18,Petal.Width,Petal.Width,1.000000,predict_itself,True,None,0.000000,1.000000,None
19,Petal.Width,Species,0.927652,classification,True,weighted F1,0.353333,0.953215,DecisionTreeClassifier()
20,Species,Sepal.Length,0.409634,regression,True,mean absolute error,0.684667,0.404204,DecisionTreeRegressor()
21,Species,Sepal.Width,0.194307,regression,True,mean absolute error,0.330667,0.266416,DecisionTreeRegressor()
22,Species,Petal.Length,0.785393,regression,True,mean absolute error,1.488667,0.319479,DecisionTreeRegressor()
23,Species,Petal.Width,0.755749,regression,True,mean absolute error,0.644667,0.157460,DecisionTreeRegressor()
24,Species,Species,1.000000,predict_itself,True,None,0.000000,1.000000,None